[submodule "C/C-problem-solving"]
	path = C/C-problem-solving
	url = https://github.com/ITurres/C-problem-solving
[submodule "Python/Python-problem-solving"]
	path = Python/Python-problem-solving
	url = https://github.com/ITurres/Python-problem-solving
[submodule "Python/Python-SQL-problem-solving"]
	path = Python/Python-SQL-problem-solving
	url = https://github.com/ITurres/Python-SQL-problem-solving
